.content {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    width: 100%;
    height: 100%;
    margin: 20px;
  }

  table {
    width: 100%;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .mat-column-position {
    width: 20%;
  }

  .mat-column-date {
    width: 20%;
  }

  .mat-column-action {
    width: 60%;
  }

  mat-spinner {
    position: absolute;
    top: 40%;
  }

  .history {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: var(--color-white);
  }
}
