<div class="flex items-center justify-center w-full">
  <div
    class="content w-11/12 border shadow-lg rounded my-4 relative"
    role="main"
  >
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <mat-card *ngIf="!showSpinner" class="example-card">
      <mat-card-header>
        <mat-card-title
          >Attendance For {{ currentMonth }} {{ currentYear }}</mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element.date | date: "mediumDate" }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <mat-radio-group
                [(ngModel)]="element.action"
                (change)="onAttendanceSelected(element, $event)"
                [disabled]="showingPrevMonthData"
                aria-label="Select an option"
              >
                <mat-radio-button value="1">Present</mat-radio-button>
                <mat-radio-button value="2">Sick Leave</mat-radio-button>
                <mat-radio-button value="3">Annual Leave</mat-radio-button>
                <mat-radio-button value="4">Public Holiday</mat-radio-button>
              </mat-radio-group>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button
          *ngIf="!showingPrevMonthData"
          mat-button
          (click)="markComplete()"
        >
          MARK COMPLETE
        </button>
      </mat-card-actions>
    </mat-card>

    <button
      *ngIf="!showSpinner"
      class="history"
      mat-button
      (click)="showPreviousMonth()"
    >
      {{ showingPrevMonthData ? "Show Current Month" : "Show Prev. Month" }}
    </button>
  </div>
</div>
<router-outlet></router-outlet>
