:root {
  --color-primary: #0e2133;
  --color-secondary: #ff0100;
  --color-danger: #e71d36;
  --color-warning: #ff9f1c;
  --color-info: #2ec4b6;
  --color-background: #182b3a;
  --color-white: #fdfffc;
  --color-black: #171817;
  --color-overlay: rgba(253, 255, 252, 0.8);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-white);
}

nav.topnav {
  position: fixed;
  width: 100vw;
  top: 0px;
  z-index: 100;
}

.navbar {
  height: 4rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.routes {
  display: flex;
  column-gap: 1em;
}

.routes a {
  transition: color 0.5s;
}

.routes a:hover {
  color: var(--color-secondary);
}

.route-external a {
  transition: color 0.5s;
}

.route-external a:hover {
  color: var(--color-warning);
}

.home-page {
  width: 100%;
  height: 100vh;
  background-image: url('https://vendians.com/static/media/bg.69e9c60a.png');
}

.app-hero {
  background-color: var(--color-white);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 6px 18px 3px #00000024;
  border-radius: 30px;
  padding: 1em;
  max-width: 40rem;
  text-align: center;
  font-size: 1.3em;
}

.app-hero h1 {
  font-size: 3em;
  font-weight: 500;
  color: var(--color-primary);
}

.app-hero h1 span,
.app-hero p span {
  color: var(--color-secondary);
  font-weight: 500;
}
